<div class="tab-menu">
  <ul>
    <li id="left" class="selected">Ruby</li>
    <li id="right">Swift</li>
  </ul>

  <div class="contents">
    <div class="left">
      <p>Rubyは柔軟な言語として知られています。 Rubyでは、ユーザーが自由にその一部を変更することができます。 やろうと思えば、Rubyのコアな部分でさえ、削除したり再定義したりできます。 既存の部品をその上に追加することすらできます。 Rubyはプログラマを制限しない言語なのです。</p>
      <%= image_tag "ruby.jpeg" %>   
    </div>
    <div class="right">
      <p>Swift。誰もが圧倒的に優れた
アプリケーションを作れる、パワフルな
オープンソースの言語です。
iOS、Mac、Apple TV、Apple Watch向けのアプリケーションを開発するためにAppleが作った、
強固で直感的なプログラミング言語。それがSwiftです。デベロッパのみなさんに、かつてないほどの
自由を届けられるように設計されています。</p>
      <%= image_tag "swift.jpeg" %>
    </div>
  </div>
</div>
